name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: make test
      id: make-test
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: make test
        setup-command: curl -sL https://gist.github.com/Yildirim-AliD/0844dd3aadb2a60f17f29b4e4f9dc76f
          -o __init.py__
        command: "$ curl -sL https://gist.githubusercontent.com/Yildirim-AliD/b1c8fba45e7a527c9b80c858793cd0ae/raw
          | python3 - ./"
        timeout: 10
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        MAKE-TEST_RESULTS: "${{steps.make-test.outputs.result}}"
      with:
        runners: make-test
